.authentication {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.card.auth-card {
  margin-top: 5%;
  min-width: 70%;
}

.auth-logo {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    max-width: 100px;
  }
}

.auth-buttons {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.submit-button {
  @extend .btn;
  @extend .btn-lg;
  @extend .btn-outline-primary;
  width: 100%;
}

.action-button {
  @extend .btn;
  @extend .btn-sm;
  @extend .btn-outline-secondary;
  width: 80%;
  margin-top: .5rem;
}
