<section class="modal-body">
  <div class="flex-center w-100">
    <div class="w-33"></div>
    <div class="w-33 flex-center">
      <h1 class="text-center">Edit Task</h1>
    </div>
    <div class="w-33 flex-end flex-align-start">
      <button class="close-btn flex-center" (click)="closeModal()">
        <i class="fas fa-times"></i>
      </button>
    </div>
  </div>
  <hr class="w-75 mx-auto">
  <form [formGroup]="form" (ngSubmit)="updateTask()">
    <formly-form
      [form]="form"
      [model]="task"
      [fields]="fields"
    ></formly-form>
    <div class="flex-between">
      <button
        class="btn btn-outline-danger w-45"
        type="button"
        (click)="closeModal()"
      >
        Cancel
      </button>
      <button
        class="btn btn-outline-secondary w-45"
        type="submit"
      >
        Update
      </button>
    </div>
  </form>
</section>
