<section class="modal-body" #modal>
  <div class="flex-center w-100">
    <div class="w-15"></div>
    <div class="w-70 flex-center">
      <h1 class="text-center">
        <ng-container *ngIf="task?.id">
          Edit Task
        </ng-container>
        <ng-container *ngIf="!task?.id">
          Create Task
        </ng-container>
      </h1>
    </div>
    <div class="w-15 flex-end flex-align-start">
      <button class="close-btn flex-center" (click)="closeModal()">
        <i class="fas fa-times"></i>
      </button>
    </div>
  </div>
  <hr class="w-75 mx-auto">
  <form [formGroup]="form" (ngSubmit)="createOrUpdate()">
    <formly-form
      [form]="form"
      [model]="task"
      [fields]="fields"
    ></formly-form>
    <div class="flex-between">
      <button
        class="btn btn-outline-danger w-45"
        type="button"
        (click)="closeModal()"
      >
        Cancel
      </button>
      <button
        class="btn btn-outline-secondary w-45"
        type="submit"
      >
        <ng-container *ngIf="task?.id">
          Update
        </ng-container>
        <ng-container *ngIf="!task?.id">
          Create
        </ng-container>
      </button>
    </div>
  </form>
</section>
