.landing {
  padding: .75rem;
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image {
  width: 100%;
}

.action-button-group {
  width: 100%;
  margin-top: 2.5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
