<section class="landing">
  <div class="details">
    <h1>Welcome to Task Manager</h1>
    <h4>A basic task management app</h4>
  </div>
  <div class="image">
    <img src="assets/images/Checklist%20_Monochromatic.svg" alt="homepage illustration">
  </div>
  <div class="action-button-group">
    <ng-container *ngIf="isLoggedIn">
      <button class="btn btn-lg btn-outline-primary w-75" routerLink="/tasks">
        Go To Tasks
      </button>
    </ng-container>
    <ng-container *ngIf="!isLoggedIn">
      <button class="btn btn-lg btn-outline-primary w-45" routerLink="/auth/register">
        Register
      </button>
      <button class="btn btn-lg btn-outline-secondary w-45" routerLink="/auth/login">
        Log in
      </button>
    </ng-container>
  </div>
</section>
