<section class="authentication">
  <div class="card auth-card">
    <div class="card-body">
      <div class="auth-logo">
        <img src="assets/images/angular_shield.png" alt="logo">
      </div>
      <h2 class="text-center">Login</h2>
      <hr class="w-75 mx-auto">
      <form class="form" [formGroup]="form" (ngSubmit)="register()">
        <formly-form
          [form]="form"
          [fields]="fields"
          [model]="model"
        ></formly-form>
        <div class="auth-buttons">
          <button type="submit" class="submit-button">Register</button>
          <button type="button" class="action-button" routerLink="/auth/login">login</button>
        </div>
      </form>
    </div>
  </div>
</section>
