@import "src/scss/variables/variables";

.task-list-item {
  display: flex;
  padding: .2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: .5rem auto;
  width: 90%;
  cursor: pointer;
  &:focus {
    outline: none;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  }
}

.task-details {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon {
  width: 15%;
}

.todo-icon {
  border-radius: 50%;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 0 0 1px rgb(0 0 0 / 10%);
  background: rgba($secondary, 0.1);
}

.details {
  width: 70%;
  padding: 0 .75rem;
  text-align: center;
}

.actions {
  width: 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.action-btn {
  width: 30%;
  margin: .25rem 0;
}

.complete-button {
  border-color: $primary;
  color: $primary;
  height: 2rem;
  width: 2rem;
  position: relative;
  &::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 1.6rem;
    height: 1.6rem;
    background-color: $primary;
    border-radius: 50%;
  }
}
