<div
  *ngIf="task"
  class="task-list-item"
>
  <div class="task-details">
    <div class="icon">
      <img class="todo-icon" src="assets/images/angular_shield.png" alt="todo-icon">
    </div>
    <div class="details">
      <h3>{{task.title}}</h3>
      <p class="truncate">{{task.description}}</p>
      <div class="flex-around">
        <button class="btn btn-outline-info btn-sm action-btn" (click)="openModal($event, modalTemplate)">
          <i class="far fa-edit"></i>
        </button>
        <button class="btn btn-outline-danger btn-sm action-btn" (click)="deleteTask($event)">
          <i class="far fa-trash-alt"></i>
        </button>
        <button class="btn btn-outline-secondary btn-sm action-btn" [routerLink]="task.id | toString">
          <i class="fas fa-info"></i>
        </button>
      </div>
    </div>
    <div class="actions">
      <ng-container *ngIf="task.status === 'todo'">
        <button class="btn btn-outline-success btn-sm" (click)="updateStatus($event, 'complete')">
          <i class="fas fa-check"></i>
        </button>
      </ng-container>
      <ng-container *ngIf="task.status === 'complete'">
        <button class="btn btn-outline-primary btn-sm" (click)="updateStatus($event, 'todo')">
          <i class="fas fa-undo"></i>
        </button>
      </ng-container>
    </div>
  </div>
  <hr class="w-80 ml-auto">
</div>

<ng-template #modalTemplate>
  <app-edit-task
    [task]="task"
    [modalRef]="modalRef"
  ></app-edit-task>
</ng-template>
