@import "src/scss/variables/variables";

.task-list-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: .5rem auto;
  width: 80%;
}

.task-details {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.icon {
  width: 15%;
}

.todo-icon {
  border-radius: 50%;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 0 0 1px rgb(0 0 0 / 10%);
  background: rgba($secondary, 0.1);
}

.details {
  width: 65%;
  padding: 0 .75rem;
  text-align: center;
}

.time {
  width: 20%;
}
