<div class="background">
  <div class="app-container">
    <div class="header-image">
      <img src="assets/images/landscape.jpeg" alt="background-image">
    </div>
    <div class="header" [ngClass]="isLoggedIn ? 'header-auth' : 'header-pub'">
      <div class="menu-toggle">
        <button class="menu-button" (click)="toggleMenu()">
          <img src="assets/images/menu.png" alt="menu" width="25">
        </button>
      </div>
      <div class="welcome">
        <ng-container *ngIf="user$ | async as user; else publicWelcome">
          <h1>Welcome {{user.username}}!</h1>
        </ng-container>
        <ng-template #publicWelcome>
          <h1>Welcome!</h1>
        </ng-template>
      </div>
      <div class="details">
        <img src="assets/images/angular_shield.png" alt="Angular Shield" width="100">
      </div>
      <ng-container *ngIf="isLoggedIn">
        <progressbar
          *ngIf="taskProgress > 0; else noProgress"
          type="danger"
          [max]="100"
          [value]="taskProgress"
        >
          <i>{{taskProgress}}%</i>
        </progressbar>
      </ng-container>
    </div>
    <aside class="menu" (click)="toggleMenu()" [@toggleMenu]="menuState">
      <app-menu
        [isLoggedIn]="isLoggedIn"
        (toggleMenu)="toggleMenu()"
      ></app-menu>
    </aside>
    <main class="content">
      <app-spinner>
        <router-outlet></router-outlet>
      </app-spinner>
    </main>
  </div>
</div>

<ng-template #noProgress>
  <progressbar
    type="danger"
    [max]="100"
    [value]="100"
  >
    <i>Tasks not yet started</i>
  </progressbar>
</ng-template>
