@import "src/scss/variables/variables";

.background {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $background;
}

.app-container {
  position: relative;
  height: 100%;
  max-height: 750px;
  width: 100%;
  max-width: 450px;
  box-shadow: 3px 5px 8px rgba(0, 0, 0, 0.4);
  display: grid;
  grid-template-rows: 30% 1fr;
  grid-template-columns: 0 1fr;
  background: white;
  z-index: 5;
}

.menu {
  position: absolute;
  top: 0;
  left: -2px;
  height: 100%;
  width: 0;
  background: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(0, 0, 0, 0.1);
}

.header, .content {
  grid-column: 2/3;
}

.header {
  position: relative;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(0, 0, 0, 0.1);
  display: grid;
  grid-template-columns: 60% 40%;
  z-index: 10;
}

.header-image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  filter: blur(2px);
}

.header-pub {
  grid-template-rows: 2rem 1fr;
}
.header-auth {
  grid-template-rows: 2rem 1fr 10%;
}

.menu-toggle {
  width: 100%;
  grid-row: 1/2;
  grid-column: 1/2;
  padding-left: .75rem;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.menu-button {
  border: none;
  background: none;
}

.welcome {
  width: 100%;
  height: 100%;
  padding-left: .75rem;
  grid-row: 2/3;
  grid-column: 1/2;
}

.details {
  width: 100%;
  height: 100%;
  padding-right: .75rem;
  grid-row: 1/3;
  grid-column: 2/3;
  border-left: 1px solid rgba($primary, 0.7);
  background: rgba($primary, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}

.progress {
  grid-column: 1/3;
  height: 100%;
  width: 100%;
  border-radius: 0;
  .progress-bar {
    width: 100%;
  }
}

.content {
  z-index: 8;
  background: white;
  width: 100.5%;
  margin-left: -.25%;
}
