.background {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: green;
}

.app-container {
  position: relative;
  height: 100%;
  max-height: 750px;
  width: 100%;
  max-width: 450px;
  display: grid;
  grid-template-rows: 20% 1fr;
  grid-template-columns: 0 1fr;
  background: white;
  z-index: 5;
}

.menu {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(0, 0, 0, 0.1);
}

.header, .content {
  grid-column: 2/3;
}

.header {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(0, 0, 0, 0.1);
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 20% 70% 10%;
}

.menu-button {
  width: 100%;
  grid-row: 1/2;
  grid-column: 1/2;
  padding-left: .75rem;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.welcome {
  width: 100%;
  height: 100%;
  padding-left: .75rem;
  grid-row: 2/3;
  grid-column: 1/2;
}

.details {
  width: 100%;
  height: 100%;
  padding-right: .75rem;
  grid-row: 1/3;
  grid-column: 2/3;
  border-left: 1px solid rgba(0, 0, 0, 0.7);
  //background: rgba(0, 0, 0, 0.3);
}

.progress {
  grid-column: 1/3;
  height: 100%;
  width: 100%;
  border-radius: 0;
  .progress-bar {
    width: 100%;
  }
}
