<div class="background">
  <div class="app-container">
    <div class="header">
      <div class="menu-button">
        <button>#</button>
      </div>
      <div class="welcome">
        <!--// TODO: If user, display username -->
        <h1>Welcome!</h1>
      </div>
      <div class="details">
        Details
      </div>
      <div class="progress">
      </div>
    </div>
    <aside class="menu">
      <app-menu></app-menu>
    </aside>
    <main class="content">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>
