<div class="background">
  <div class="app-container">
    <div class="header" [ngClass]="isLoggedIn ? 'header-auth' : 'header-pub'">
      <div class="menu-toggle">
        <button class="menu-button" (click)="toggleMenu()">
          <img src="assets/images/menu.png" alt="menu" width="25">
        </button>
      </div>
      <div class="welcome">
        <!--// TODO: If user, display username -->
        <h1>Welcome!</h1>
      </div>
      <div class="details">
        Details
      </div>
      <div class="progress" *ngIf="isLoggedIn">
        <div class="progress-bar bg-primary" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
          Task progress: 100%
        </div>
      </div>
    </div>
    <aside class="menu" (click)="toggleMenu()" [@toggleMenu]="menuState">
      <app-menu></app-menu>
    </aside>
    <main class="content">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>
