<section class="task-details">
  <div class="card w-80">
    <div class="back">
      <button class="back-button" (click)="goBack()">
        <i class="fas fa-long-arrow-alt-left"></i>
      </button>
    </div>
    <div class="card-body">
      <ng-container *ngIf="taskDetails; else noDetails">
        <h2 class="text-center">{{taskDetails.title}}</h2>
        <hr class="w-75 mx-auto">
        <p class="text-center">{{taskDetails.description}}</p>
        <div class="task-details-group">
          <p>Status: {{taskDetails.status | taskStatus}}</p>
          <p>
            Priority: <i [class]="taskDetails.priority | taskPriority"></i>
          </p>
        </div>
        <hr class="w-85 mx-auto my-3">
        <div class="flex-between">
          <ng-container *ngIf="taskDetails.status === 'todo'">
            <button
              class="btn btn-outline-success w-45 mx-auto"
              (click)="toggleTaskState('complete')"
            >
              Complete Task
            </button>
          </ng-container>
          <ng-container *ngIf="taskDetails.status === 'complete'">
            <button
              class="btn btn-outline-success w-45 mx-auto"
              (click)="toggleTaskState('todo')"
            >
              Open Task
            </button>
          </ng-container>
          <button
            class="btn btn-outline-info w-45 mx-auto"
            (click)="openModal(modalTemplate)"
          >
            Edit Task
          </button>
        </div>
      </ng-container>
    </div>
  </div>

  <div class="task-details-image">
    <img src="assets/images/Coding%20_Monochromatic.svg" alt="details_illustration">
  </div>
</section>

<ng-template #noDetails>
  <h3 class="text-center">There are no Task Details.</h3>
</ng-template>

<ng-template #modalTemplate>
  <app-edit-task
    [task]="taskDetails"
    [modalRef]="modalRef"
  ></app-edit-task>
</ng-template>
