<section class="menu-container">
  <div class="menu-header">
    <h2>Menu</h2>
  </div>
  <nav class="navigation">
    <a class="nav-item" routerLink="/">Home</a>
    <a class="nav-item" routerLink="/tasks">Tasks</a>
    <ng-container *ngIf="isLoggedIn">
      <a class="nav-item" (click)="logout()">Logout</a>
    </ng-container>
    <ng-container *ngIf="!isLoggedIn">
      <a class="nav-item" routerLink="/auth/login">Login</a>
      <a class="nav-item" routerLink="/auth/register">Register</a>
    </ng-container>
  </nav>
  <div class="theme-toggle">
    Toggle theme
  </div>
</section>
