.menu-container {
  height: 100%;
}

.menu-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
}

.navigation {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-height: 40%;
}

.nav-item {
  width: 100%;
  height: 2.5rem;
  margin: .5rem 0;
  padding: 0 .35rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(0, 0, 0, 0.1);
  transition: all .2s ease;
  &:hover {
    text-decoration: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.2);
  }
  &:active {
    box-shadow: inset 0 4px 6px rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.2);
  }
}
